body {
    font-family: 'Courier New', 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    background-image: url('galactic2.webp');
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header {
    background-color: rgb(255, 255, 255);
    color: #fff;
    text-align: center;
    padding: 0px;
    background-image: url('galactic2.webp');
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.performance-header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

.header-container {
    /*background-image: url('galactic2.webp');*/
    background-size: cover;
    align-items: center;
    padding: 10px 20px;
    /*height: 80px;*/
    min-height: 60px;
    justify-content: space-between;
    background-color: black;
}

.logo {
    width: 70px; 
    height: 70px;
    margin-right: 0;
}

.header-text {
    display: flex;
    flex-direction: column;
    color: rgb(255, 255, 255);
    text-align: left;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.events-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 20px;
    max-width: 1200px;
    margin: auto;
}

.event-card {
    background-color: rgb(209, 154, 154);
    padding: 15px;
    border-radius: 8px;
    box-shadow: 20px 40px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.event-card img {
    width: 300px;
    height: 300px;
    border-radius: 8px;
}

.event-card h3 {
    margin: 10px 0;
}

button {
    background-color: rgb(118, 11, 11);
    color: #fff;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-weight: bold;
    border-radius: 5px;
}

button:hover {
    background-color: rgb(225, 208, 208);
}

@media (max-width: 400px) {
    .events-grid {
        grid-template-columns: 1fr;
    }
}

/*@media (min-width: 1500px) {
    .events-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}*/