body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #929a8c;
  font-family: 'Times New Roman', Times, serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

#enteredDigits {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  margin-top: 30px;
}

.row-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  flex-wrap: wrap;
  gap: 40px;
}

.container {
  text-align: center;
}

#phoneInput {
  padding: 30px;
  font-size: 20px;
  width: 225px;
  height: 4s0px;
  text-align: center;
  border: 3px solid rgb(0, 0, 0);
  border-radius: 10px;
}

button {
  padding: 20px;
  font-size: 20px;
  border: 2px solid #555;
  border-radius: 8px;
  background-color: #e0e0e0;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #ccc;
}

#submitButton {
  background-color: #4CAF50; 
  color: white;
  border: 2px solid #3e8e41;
  box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.3);
}

#submitButton:hover {
  background-color: #45a049;
  transform: scale(1.15);
}

#phoneMessage {
  display: none;
  margin-top: 40px;
  font-size: 20px;
  font-weight: bold;
}

#bottomImage {
  position: fixed;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  width: 400px;
  height: 300px;
}
